nodered/commonflow.json
[{"id":"e092428b.886fc8","type":"tab","label":"2.Common Nodes","disabled":false,"info":""},{"id":"5eb491.ff0e837","type":"influxdb out","z":"e092428b.886fc8","influxdb":"3977a85.b3d7958","name":"","measurement":"test","precision":"","retentionPolicy":"","x":560,"y":140,"wires":[]},{"id":"d67b8418.c7fc48","type":"inject","z":"e092428b.886fc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["47a555ca.73582c","cec3a70a.6224f8"]]},{"id":"f29e7b64.2bbee","type":"function","z":"e092428b.886fc8","name":"change_message","func":"var entero = global.get(\"entrada\");\nvar salida = flow.get(\"salida\");\nmsg = { payload: msg.payload,\n           nombre: \"José\",\n           apellido1: \"Claudel\",\n           entrada: \"entrada-mal\",\n           entrada2: entero,\n           salida: salida\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["ab913baf.718e"]]},{"id":"ab913baf.718e","type":"debug","z":"e092428b.886fc8","name":"debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":80,"wires":[]},{"id":"47a555ca.73582c","type":"change","z":"e092428b.886fc8","name":"contexto","rules":[{"t":"set","p":"entrada","pt":"global","to":"Entrada de Datos Nuevo","tot":"str"},{"t":"set","p":"salida","pt":"flow","to":"Salida de aqui.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":80,"wires":[["f29e7b64.2bbee"]]},{"id":"cec3a70a.6224f8","type":"function","z":"e092428b.886fc8","name":"multiple_post_influx","func":"msg = { payload: {v01: 5.2, v02:6.3}};        \nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["5eb491.ff0e837"]]},{"id":"624ae7.a2c29d18","type":"complete","z":"e092428b.886fc8","name":"","scope":["cec3a70a.6224f8"],"uncaught":false,"x":90,"y":260,"wires":[["346e9a73.05f73e"]]},{"id":"9617660b.b5b6b8","type":"debug","z":"e092428b.886fc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":260,"wires":[]},{"id":"346e9a73.05f73e","type":"function","z":"e092428b.886fc8","name":"Trigger","func":"msg = { payload: msg.payload, ooo: 25 };\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["9617660b.b5b6b8"]]},{"id":"c62266dd.3d3c6","type":"status","z":"e092428b.886fc8","name":"","scope":["5eb491.ff0e837"],"x":80,"y":380,"wires":[["542cfe6f.74af88"]]},{"id":"542cfe6f.74af88","type":"function","z":"e092428b.886fc8","name":"status","func":"msg.payload = msg.status.text;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":380,"wires":[["ee5550e0.6e6a48"]]},{"id":"ee5550e0.6e6a48","type":"debug","z":"e092428b.886fc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":380,"wires":[]},{"id":"48658394.6a23c4","type":"comment","z":"e092428b.886fc8","name":"01.- Contexto","info":"Ejemplo de uso del Contexto.","x":90,"y":40,"wires":[]},{"id":"9a17f240.56db6","type":"comment","z":"e092428b.886fc8","name":"02.- Trigger","info":"Ejemplo de Trigger.","x":90,"y":220,"wires":[]},{"id":"39e1c237.336396","type":"comment","z":"e092428b.886fc8","name":"03.- Status","info":"Ejemplo de status. Siempre y cuando el nodo tenga STATUS","x":80,"y":340,"wires":[]},{"id":"d09a4a9f.1e4188","type":"switch","z":"e092428b.886fc8","name":"Condicional","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"30","vt":"num"},{"t":"lte","v":"20","vt":"num"},{"t":"lte","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":520,"wires":[["3bf9e15d.094396"],["3bf9e15d.094396"],["3bf9e15d.094396"]]},{"id":"233d42b0.5661a6","type":"function","z":"e092428b.886fc8","name":"set_value","func":"msg.payload = 15;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":520,"wires":[["d09a4a9f.1e4188","de525b0e.96b75"]]},{"id":"d3742176.3da87","type":"inject","z":"e092428b.886fc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":520,"wires":[["233d42b0.5661a6","f023c856.aa50b8"]]},{"id":"3bf9e15d.094396","type":"debug","z":"e092428b.886fc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":660,"wires":[]},{"id":"dd4c0948.f073e","type":"comment","z":"e092428b.886fc8","name":"04.- Condicional","info":"Ejemplo de Condicional","x":100,"y":460,"wires":[]},{"id":"de525b0e.96b75","type":"range","z":"e092428b.886fc8","minin":"0","maxin":"30","minout":"1","maxout":"3","action":"scale","round":true,"property":"payload","name":"Range","x":310,"y":660,"wires":[["3bf9e15d.094396"]]},{"id":"5cfedfdb.1f2bc8","type":"comment","z":"e092428b.886fc8","name":"05.- Mapear","info":"Ejemplo de mapeo.","x":90,"y":600,"wires":[]},{"id":"f023c856.aa50b8","type":"template","z":"e092428b.886fc8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":280,"y":780,"wires":[["3bf9e15d.094396"]]},{"id":"70c55e22.8ffa6","type":"comment","z":"e092428b.886fc8","name":"06.- Template","info":"Ejemplo de template.","x":90,"y":740,"wires":[]},{"id":"3977a85.b3d7958","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"telegraf","name":"","usetls":false,"tls":""}]