iesgalileo/nodered-examples/fiware-list.json
[
    {
        "id": "649bf28ceea380af",
        "type": "tab",
        "label": "FiWARE LIST",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "916012b9269fe24a",
        "type": "NGSI Types",
        "z": "649bf28ceea380af",
        "name": "",
        "openapis": "fcc5c8fd8e19ca23",
        "servicepath": "/cordoba",
        "actionType": "types",
        "entityType": "",
        "values": "false",
        "noAttrDetail": "false",
        "x": 250,
        "y": 60,
        "wires": [
            [
                "926ee6b875dfe255"
            ]
        ]
    },
    {
        "id": "4f3a24552c5592a3",
        "type": "inject",
        "z": "649bf28ceea380af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 60,
        "wires": [
            [
                "916012b9269fe24a"
            ]
        ]
    },
    {
        "id": "926ee6b875dfe255",
        "type": "debug",
        "z": "649bf28ceea380af",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "fcc5c8fd8e19ca23",
        "type": "Open APIs",
        "name": "FIWARE",
        "geType": "orion",
        "apiEndpoint": "http://ucoiot-orion:1026",
        "service": "galileo",
        "idmEndpoint": "",
        "idmType": "none"
    }
]