iesgalileo/nodered-examples/fiware-version.json
[
    {
        "id": "e94c331be9502e50",
        "type": "tab",
        "label": "FIWARE Version CB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "906672f03363c893",
        "type": "FIWARE version",
        "z": "e94c331be9502e50",
        "name": "FIWARE Galileo",
        "openapis": "fcc5c8fd8e19ca23",
        "x": 320,
        "y": 80,
        "wires": [
            [
                "62ce44c6fda5e3ba"
            ]
        ]
    },
    {
        "id": "1dbafe077270a81d",
        "type": "inject",
        "z": "e94c331be9502e50",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "906672f03363c893"
            ]
        ]
    },
    {
        "id": "62ce44c6fda5e3ba",
        "type": "debug",
        "z": "e94c331be9502e50",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "fcc5c8fd8e19ca23",
        "type": "Open APIs",
        "name": "FIWARE",
        "geType": "orion",
        "apiEndpoint": "http://ucoiot-orion:1026",
        "service": "galileo",
        "idmEndpoint": "",
        "idmType": "none"
    }
]