iesgalileo/nodered-examples/fiware-simple-get.json
[
    {
        "id": "1d0f6947067aeea5",
        "type": "tab",
        "label": "CECODA-FiWARE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "52c44f79b077162d",
        "type": "NGSI source",
        "z": "1d0f6947067aeea5",
        "name": "Cecoda Server",
        "openapis": "6883df9e1a0fc4c8",
        "servicepath": "/rabanales",
        "mode": "keyValues",
        "entitytype": "atdnoise",
        "idpattern": "urn:ngsi-ld:atdnoise:atd-noise-000",
        "attrs": "",
        "query": "",
        "buffering": "off",
        "x": 340,
        "y": 40,
        "wires": [
            [
                "e92a1fc35aee6fbf"
            ]
        ]
    },
    {
        "id": "240420ab50caf419",
        "type": "inject",
        "z": "1d0f6947067aeea5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "52c44f79b077162d"
            ]
        ]
    },
    {
        "id": "e92a1fc35aee6fbf",
        "type": "debug",
        "z": "1d0f6947067aeea5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "6883df9e1a0fc4c8",
        "type": "Open APIs",
        "name": "ATDFiware Server",
        "geType": "orion",
        "apiEndpoint": "http://217.71.204.15:1026",
        "service": "smarttrebol",
        "idmEndpoint": "",
        "idmType": "none"
    }
]