iesgalileo/nodered-examples/fiware-simple-get.json
[
    {
        "id": "1d0f6947067aeea5",
        "type": "tab",
        "label": "GALILEO-FiWARE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "52c44f79b077162d",
        "type": "NGSI source",
        "z": "1d0f6947067aeea5",
        "name": "Galielo Server (noise)",
        "openapis": "fcc5c8fd8e19ca23",
        "servicepath": "/cordoba",
        "mode": "keyValues",
        "entitytype": "atdnoise",
        "idpattern": "urn:ngsi-ld:atdnoise:atd-noise-000",
        "attrs": "",
        "query": "",
        "buffering": "off",
        "x": 360,
        "y": 40,
        "wires": [
            [
                "e92a1fc35aee6fbf"
            ]
        ]
    },
    {
        "id": "240420ab50caf419",
        "type": "inject",
        "z": "1d0f6947067aeea5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "148d5d97e1d198ef",
                "52c44f79b077162d"
            ]
        ]
    },
    {
        "id": "e92a1fc35aee6fbf",
        "type": "debug",
        "z": "1d0f6947067aeea5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "148d5d97e1d198ef",
        "type": "NGSI source",
        "z": "1d0f6947067aeea5",
        "name": "Galielo Server (station)",
        "openapis": "fcc5c8fd8e19ca23",
        "servicepath": "/cordoba",
        "mode": "keyValues",
        "entitytype": "station01",
        "idpattern": "urn:ngsi-ld:station01:sta-001",
        "attrs": "",
        "query": "",
        "buffering": "off",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "e92a1fc35aee6fbf"
            ]
        ]
    },
    {
        "id": "fcc5c8fd8e19ca23",
        "type": "Open APIs",
        "name": "FIWARE",
        "geType": "orion",
        "apiEndpoint": "http://ucoiot-orion:1026",
        "service": "galileo",
        "idmEndpoint": "",
        "idmType": "none"
    }
]